* {
	box-sizing: border-box;
}

html,
body {
	height: 100vh;
	height: 100dvh;
}
body {
	display: flex;
	margin: 0;
}
textarea {
	flex-grow: 1;
	font-family: "PT Mono", monospace;
	font-size: 1.2rem;
	border: none;
	resize: none;
	outline: none;
	background-color: #1e1e1e;
	color: #d4d4d4;
}